@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

body{
    background-color: #343541;
    color: #ECECF1;
}

#main{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-height: 80vh;

    font-family: 'Poppins';
    font-style: italic
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input[type=submit] {
    
    background-color: #444655;
    border: none;
    color: #ECECF1;
    padding: 15px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: 0.5px 0.5px 5px rgb(43, 43, 43);
  }

h1{
    font-size: 3rem;
    font-family: 'Poppins';
    font-style: italic
}
::placeholder { 
    
    font-family: 'Poppins';
    font-style: italic;
    color: #ECECF1;
    opacity: 1; 
  }

  img{
    height: 50px;
}

textarea{
    background-color:#444655 ;
    border-radius: 0.5rem;
    border-color: #444655;
    box-shadow: 0.5px 0.5px 5px rgb(43, 43, 43);
}